<div class="layout-px-spacing">
    <div class="row layout-top-spacing">

        <div class="col-md-12 text-center mb-4" style="font-family: Poppins, sans-serif; font-weight: 500">
            <div class="p-2 rounded">
                <h4 class="mb-1">Selamat Datang, Admin</h4>
                <p class="mb-0">Perbaharui selalu data pribadi Anda ya.</p>
            </div>
        </div>

        <!-- <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
            <p class="text-center"><b>Jumlah ASN Di Lingkungan Kanwil BPN Provinsi Aceh</b></p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-card-four">
                <div class="widget-content">
                    <div class="w-content mb-4">
                        <div class="w-info">
                            <p class="text-primary">Total Pegawai</p>
                        </div>
                        <div class="w-icon">
                            <i data-feather="users"></i>
                        </div>
                    </div>
                    <div class="w-info">
                        <h6 class="value">{{ count_all('d_profil', [ 'arsip' => null ]) }}</h6>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-card-four">
                <div class="widget-content">
                    <div class="w-content mb-4">
                        <div class="w-info">
                            <p class="text-primary">Pegawai PNS</p>
                        </div>
                        <div class="w-icon">
                            <i data-feather="users"></i>
                        </div>
                    </div>
                    <div class="w-info">
                        <h6 class="value">{{ count_all('d_profil', [ 'role_id' => 4, 'arsip' => null ] ) }}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-card-four">
                <div class="widget-content">
                    <div class="w-content mb-4">
                        <div class="w-info">
                            <p class="text-primary">Pegawai PPNPN</p>
                        </div>
                        <div class="w-icon">
                            <i data-feather="users"></i>
                        </div>
                    </div>
                    <div class="w-info">
                        <h6 class="value">{{ count_all('d_profil', [ 'role_id' => 5, 'arsip' => null ] ) }}</h6>
                    </div>
                </div>
            </div>
        </div>-->
        
    </div>
</div>