<form id="form" class="simple-example" action="javascript:void(0);" novalidate>
    <div class="modal-body">
        <div id="alert"></div>
        <div class="form-row">
            <div class="col-md-6 mb-4">
                <%- form.select('mentor_id as pembimbing', '*', mentor) %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.select('learner_id as peserta_didik', '*', learner) %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <%- form.cancel() %>
        <%- form.submit() %>
    </div>
</form>

<script>
    $(".select").select2({
        allowClear: true,
        tags: true,
        dropdownParent: $('#modal'),
    });

    feather.replace();
</script>