<script type="text/javascript">

    const path = '<%=path%>';
    const rupiah = Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR", minimumFractionDigits: 0 });

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            {
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                sortable: false, 
                className: 'text-center', 
                width: 60,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_subject?.name;
                }  
            },
            { 
                data: 'name', 
                sortable: false, 
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_lecturer?.user?.name;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data) {
                    const value =  JSON.stringify({
                        classroom_id: data?.id,
                        classroom_learner_id: data?.d_classroom_learners?.[0]?.id,
                        subject_id: data?.m_subject?.id,
                        lecturer_id: data?.m_lecturer?.id,
                    });

                    const params = encrypt(value);
                    
                    return '<a class="btn btn-outline-secondary" href="<%= base_url + route_now %>/detail?params=' + params + '">Detail</a>';
                }  
            },
        ],
    });
</script>