<div class="layout-px-spacing">
    <div class="row mx-0">
        <%- include('../../../../inc/breadcrumb') %>
        <%- include('../../../../inc/button-add') %>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <%- include('table') %>
                </div>
            </div>
        </div>

    </div>
</div>

