<script type="text/javascript">

    const path = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    /*  add data */
    $(document).on('click', '.add', function () {

        $.post(url+'/form', { path }, function (data) {
            $("#modal-label").html('Form Tambah');
            $("#show-modal").html(data);
        });
    });

    /*  edit data */
    $(document).on('click', '.edit', function () {
        
        var id  = $(this).data('id');

        $.post(url+'/form', { id, path }, function (data) {
            $("#modal-label").html('Form Edit');
            $("#show-modal").html(data);
        });
    });

    /* submit form */
    $(document).on('click', '#submit', function () {
        $.ajax({
            url  : url+'/process',
            data : $('#form').serialize(),
            type : "post", 
            success: function(response){
                if(response?.id === null)
                    $('#form')[0].reset();

                $('#alert').html(alert_success(response?.message));
                $('#zero-config').dataTable().api().ajax.reload();
            },
            error: function (data, response) {
                const errors = data?.responseJSON?.errors;
                switch (data.status) {
                    case 400:
                        let result = '';

                        errors.forEach(function(v) {
                            result += '<br>- '+v+' belum diisi';
                        });

                        $('#alert').html(alert_warning(result));
                        break;
                    case 422:
                        $('#alert').html(alert_warning(errors));
                        break;
                    case 500:
                        $('#alert').html(alert_error(errors));
                        break;
                    default:
                        $('#alert').html(alert_error('Saat proses data'));
                        break;
                }
            }
        });
                
    });

    $(document).on('click', '.delete', function () {
        
        var id  = $(this).data('id');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin?',
            text: "Anda tidak akan dapat mengembalikan ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, hapus!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/delete',
                    data : {id:id},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Terhapus!',
                            'Data telah terhapus.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses hapus data, data masih ada. :)',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih aman :)',
                    'error'
                )
            }
        })
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                className: 'text-center', 
                sortable: false, 
                width: 40,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            {
                data: 'name',
                sortable: false, 
            },
            { data: null, sortable: false, 
                render: function (data, type, row, meta) {
                    return data?.m_study_program?.name;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data, type, row, meta) {
                    // return meta.row + meta.settings._iDisplayStart + 1;
                    return '<button class="edit btn btn-outline-warning" data-id="'+data?.id+'" data-toggle="modal" data-target="#modal">Edit</button>'+
                        '<button class="btn btn-outline-danger delete" data-id="'+data?.id+'">Hapus</button>';
                }  
            },
        ],
    });

</script>