<div class="layout-px-spacing">
    <div class="row mx-0">
        <%- include('../../../inc/breadcrumb') %>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area widget-content-basic br-6">
                <h5>Rekapan Pembayaran</h5>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-sm-12 layout-spacing">
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    Total Biaya
                                </td>
                                <th>
                                    Rp. 1.000.000,-
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Sudah Bayar
                                </td>
                                <td>
                                    Rp. 800.000,-
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sisa Bayar
                                </td>
                                <td>
                                    Rp. 200.000,-
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Status
                                </td>
                                <th>
                                    Belum Lunas
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <h5>Informasi Pembayaran</h5>
                <div class="table-responsive mb-4 mt-4">
                    <%- include('table') %>
                </div>
            </div>
        </div>

    </div>
</div>

