<script type="text/javascript">

    const path  = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    /*  add data */
    $(document).on('click', '.add', function () {

        $.post(url+'/form', { 
            path,
            mentoring_id,
        }, function (data) {
            $("#modal-label").html('Form Tambah');
            $("#show-modal").html(data);
        });
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                className: 'text-center', 
                sortable: false, 
                width: 60,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            { 
                data: 'date', 
                render: function (data) {
                    return moment(data, "YYYY-MM-DD").locale("id").format("LL");
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return moment(data?.time_in, "HH:mm:ss").locale("id").format("LT") + ' - ' + moment(data?.time_out, "HH:mm:ss").locale("id").format("LT");
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.d_mentoring?.m_learner?.user?.name;
                }  
            },
            {   data: 'event', 
                sortable: false, 
            },
            {   data: 'problem', 
                sortable: false, 
            },
            {   data: 'note', 
                sortable: false,
                render: function (data) {
                    // return data.substring(0,80) + '...';
                    return data;
                }
            },
            {   
                data: 'score', 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    if ( data ){
                        return '<b>' + data + '</b>';
                    }

                    return '-';                    
                }
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data) {
                    const view_file = '<button class="view_file btn btn-outline-secondary" data-file="' + data?.file + '">Unduh Foto</button>';
                    let approval = '';

                    // if ( data?.status == null ) {
                    //     approval = '<button style="margin-top:5px" class="btn btn-outline-success approval" data-id="'+data?.id+'" data-approval="1">Terima</button>'+ 
                    //     '<button style="margin-top:5px" class="btn btn-outline-danger approval" data-id="'+data?.id+'" data-approval="0">Tolak</button>';
                    // }

                    return view_file + approval;
                }  
            },
        ],
    });

    $(document).on('click', '.view_file', function () {
        window.open("<%=base_url%>/uploads/logbooks/" + $(this).data('file'), "_blank");
    });

</script>