<script type="text/javascript">

    const path = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });
    
    /* edit data */
    $(document).on('click', '.edit', function () {
        
        var id  = $(this).data('id');

        $.post(url+'/form', { id, path }, function (data) {
            $("#modal-label").html('Form Edit');
            $("#show-modal").html(data);
        });
    });

    $(document).on('click', '.actived', function () {
        
        var id  = $(this).data('id');
        var actived  = $(this).data('actived');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin ' + (actived == 0 ? 'Non Aktifkan' : 'Aktifkan') + ' Peserta Didik Ini?',
            text: "Peserta Didik ini nantiknya berubah status!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, lanjutkan!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/actived',
                    data : {id, actived},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Berhasil!',
                            'Status Peserta Didik telah terupdate.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses update Peserta Didik',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih seperti semula :)',
                    'error'
                )
            }
        })
    });

    $(document).on('click', '.delete', function () {
        
        var id  = $(this).data('id');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin?',
            text: "Anda tidak akan dapat mengembalikan ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, hapus!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/delete',
                    data : {id:id},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Terhapus!',
                            'Data telah terhapus.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses hapus data, data masih ada. :)',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih aman :)',
                    'error'
                )
            }
        })
    });



    function checkPassword(
        e, 
        name, 
    ) {

        if(e.value.length < 8) {
            $('#' + name + '_valid').show();
        } else {
            $('#' + name + '_valid').hide();
        }

    }

    /* submit form */
    $(document).on('click', '#submit', function () {
        // const password = $('#input_password').val();
        // const password_confirmation = $('#input_password_confirmation').val();
        
        // if (!$('#hidden_id').val() || password || password_confirmation) {
        //     if (password.length < 8 || password_confirmation.length < 8) {
        //         if(password.length < 8) $('#password_valid').show();
        //         if(password_confirmation.length < 8) $('#password_confirmation_valid').show();
        //         return;
        //     }
        // }
        $.ajax({
            url  : url+'/process',
            data : $('#form').serialize(),
            type : "post", 
            success: function(response){
                $('#alert').html(alert_success(response?.message));
                $('#submit').html('<i data-feather="save"></i><b>Simpan</b>');
                $('#zero-config').dataTable().api().ajax.reload();
            },
            error: function (data, response) {
                const errors = data?.responseJSON?.errors;
                switch (data.status) {
                    case 400:
                        let result = '';

                        errors.forEach(function(v) {
                            result += '<br>- '+v+' belum diisi';
                        });

                        $('#alert').html(alert_warning(result));
                        break;
                    case 422:
                        $('#alert').html(alert_warning(errors));
                        break;
                    case 500:
                        $('#alert').html(alert_error(errors));
                        break;
                    default:
                        $('#alert').html(alert_error('Saat proses data'));
                        break;
                }
            }
        });
                
    });


    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            {   
                data: 'id', 
                sortable: false, 
                className: 'text-center', 
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            {   data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_learner?.register_number || '-';
                }  
            },
            {   data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_learner?.nis || '-';
                }  
            },
            {   
                data: 'name', 
                sortable: false 
            },
            {   
                data: 'email', 
                sortable: false 
            },
            {   data: null, 
                sortable: false, 
                // className: 'text-center', 
                render: function (data) {
                    return data?.m_learner?.m_school_year?.year;
                }  
            },
            {   
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_learner?.m_study_program?.name;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                className: 'text-center', 
                render: function (data) {
                    if(data?.status)
                        return '<span class="text-success">Aktif</span>';
                    else
                        return '<span class="text-danger">Tidak Aktif</span>';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center text-nowrap', 
                'bSortable' : false,
                render: function (data) {
                    let actived = '';
                    let deleted = '';
                    
                    if ( data?.m_learner?.nis ) {
                    
                        actived = '<button class="btn btn-outline-success actived" data-id="'+data?.id+'" data-actived="1">Aktifkan</button>';

                        if ( data?.status ) {
                            actived = '<button class="btn btn-outline-danger actived" data-id="'+data?.id+'" data-actived="0">Non Aktifkan</button>';
                        }

                    } else {
                        deleted = '<button class="btn btn-outline-danger delete" data-id="'+data?.id+'">Hapus</button>'
                    }

                    return '<button class="edit btn btn-outline-'+(data?.m_learner?.nis ? 'warning' : 'success')+'" data-id="'+data?.id+'" data-toggle="modal" data-target="#modal">'+(data?.m_learner?.nis ? 'Edit' : 'Aktivasi')+'</button>'+actived+deleted;
                }  
            },
            // {data: 'role_id'},
            // {data: 'action', name: 'action', orderable: false, 'bSortable' : false,className: 'text-center'},
        ],
    });

</script>