<script type="text/javascript">

    const path = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });
    
    /* edit data */
    $(document).on('click', '.edit', function () {
        
        var id  = $(this).data('id');

        $.post(url+'/form', { id, path }, function (data) {
            $("#modal-label").html('Form Edit');
            $("#show-modal").html(data);
        });
    });

    /* submit form */
    $(document).on('click', '#submit', function () {
        $.ajax({
            url  : url+'/process',
            data : $('#form').serialize(),
            type : "post", 
            success: function(response){
                $('#alert').html(alert_success(response?.message));
                $('#submit').html('<i data-feather="save"></i><b>Simpan</b>');
                $('#zero-config').dataTable().api().ajax.reload();
            },
            error: function (data, response) {
                const errors = data?.responseJSON?.errors;
                switch (data.status) {
                    case 400:
                        let result = '';

                        errors.forEach(function(v) {
                            result += '<br>- '+v+' belum diisi';
                        });

                        $('#alert').html(alert_warning(result));
                        break;
                    case 500:
                        $('#alert').html(alert_error(errors));
                        break;
                    default:
                        $('#alert').html(alert_error('Saat proses data'));
                        break;
                }
            }
        });
                
    });


    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            {   
                data: 'id', 
                sortable: false, 
                className: 'text-center', 
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            {   
                data: 'name', 
                sortable: false 
            },
            {   data: null, 
                sortable: false, 
                render: function (data) {
                    if(data?.m_learner?.register_number){
                        return data?.m_learner?.m_school_year?.year+data?.m_learner?.register_number;
                    }

                    return '-';
                }  
            },
            {   
                data: 'email', 
                sortable: false 
            },
            {   data: null, 
                sortable: false, 
                // className: 'text-center', 
                render: function (data) {
                    return data?.m_learner?.m_school_year?.year;
                }  
            },
            {   
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_learner?.m_study_program?.name;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    if(data?.status)
                        return '<span class="text-success">Aktif</span>';
                    else
                        return '<span class="text-danger">Tidak Aktif</span>';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data) {
                    return '<button class="edit btn btn-outline-'+(data?.m_learner?.register_number ? 'warning' : 'success')+'" data-id="'+data?.id+'" data-toggle="modal" data-target="#modal">'+(data?.m_learner?.register_number ? 'Edit' : 'Aktivasi')+'</button>';
                }  
            },
            // {data: 'role_id'},
            // {data: 'action', name: 'action', orderable: false, 'bSortable' : false,className: 'text-center'},
        ],
    });

</script>