<script type="text/javascript">

    const path = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });
    
    $(document).on('click', '.edit', function () {
        
        var id  = $(this).data('id');

        $.post(url+'/form', { id, path }, function (data) {
            $("#modal-label").html('Form Edit');
            $("#show-modal").html(data);
        });
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
        },
        columns: [
            { data: 'id', sortable: false, 
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }  
            },
            { data: 'name' },
            { data: null, sortable: false, 
                render: function (data, type, row, meta) {
                    return data?.m_learner?.register_number;
                }  
            },
            { data: 'email' },
            { data: null, sortable: false, 
                render: function (data, type, row, meta) {
                    return data?.m_learner?.m_study_program?.name;
                }  
            },
            { data: null, sortable: false, 
                render: function (data, type, row, meta) {
                    if(data?.status)
                        return '<span class="text-success">Aktif</span>';
                    else
                        return '<span class="text-danger">Tidak Aktif</span>';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data, type, row, meta) {
                    return '<button class="edit btn btn-outline-'+(data?.m_learner?.register_number ? 'warning' : 'success')+'" data-id="'+data?.id+'" data-toggle="modal" data-target="#modal">'+(data?.m_learner?.register_number ? 'Edit' : 'Aktivasi')+'</button>';
                }  
            },
            // {data: 'role_id'},
            // {data: 'action', name: 'action', orderable: false, 'bSortable' : false,className: 'text-center'},
        ],
    });

</script>