<table id="zero-config" class="table dataTable" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">
                No.
            </th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Email</th>
            <th>Tahun Ajaran</th>
            <th>Prodi</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
