<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-lg-8  mb-3">
            <div class="widget-content widget-content-area br-6">
                <div class="p-4 ">
                    <h4 class="mb-3">Biodata Pribadi</h4>
                    <table class="table">
                        <tr>
                            <td>Nama</td>
                            <td>: <%= data?.user?.name %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>: <%= data?.user?.email %></td>
                        </tr>
                        <tr>
                            <td>Instansi </td>
                            <td>: <%= data?.agency  %></td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td>: <%= data?.position %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>