<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12  mb-3">
        <div class="widget-content widget-content-area br-6">
            <div class="p-4 ">
                <div class="form-row">
                    <div class="col-md-4">
                        <%- form.select('learner_id as peserta_didik', '', learner, {}, null, 'filter') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>