<table id="zero-config" class="table dataTable" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">
                No
            </th>
            <th>Nama</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<style>
    tbody tr td:nth-child(1) {
        text-align: center
    }
</style>