<table id="zero-config" class="table dataTable" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">
                No.
            </th>
            <th>Tanggal</th>
            <th>Waktu</th>
            <th>Peserta Didik</th>
            <th>Kegiatan</th>
            <th>Kendala</th>
            <th>Catatan</th>
            <th>Status</th>
            <th>Skor</th>
            <th class="text-center">
                Aksi
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
