<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tanggal / Waktu</th>
            <th>Mata Pelatihan</th>
            <th>Kode Kelas</th>
            <th>Nama Kelas</th>
            <th>Instruktur</th>
        </tr>
    </thead>
    <tbody>
        <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Senin, 06 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Selasa, 07 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Rabu, 08 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
    </tbody>
</table>