<div class="layout-px-spacing">
    <div class="row mx-0">
        <%- include('../../../../../inc/breadcrumb') %>
        <div class="col-xl-6 col-lg-6 col-sm-12 text-right">
            <h6>./ Daftar Peserta Didik </h6>
        </div>
    </div>
    <%- include('detail') %>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <%- include('table') %>
                </div>
            </div>
        </div>

    </div>
</div>

