<script type="text/javascript">

    const path = '<%=path%>';
    const rupiah = Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR", minimumFractionDigits: 0 });

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    function value_character(value) {
        if (value > 90) {
            return { 
                charater    : 'A', 
                description : 'Istimewa',
            };
        } else if (value >= 78 && value <= 89) {
            return { 
                charater    : 'B', 
                description : 'Baik',
            };
        } else if (value >= 70 && value <= 77) {
            return { 
                charater    : 'C', 
                description : 'Cukup',
            };
        } else if (value >= 60 && value <= 69) {
            return { 
                charater    : 'D', 
                description : 'Kurang',
            };
        } else {
            return { 
                charater    : 'E', 
                description : 'Sangat Kurang',
            };
        }
    };

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
            data: function (d) {
                d.id = '<%= data?.id %>';
            }
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                className: 'text-center', 
                sortable: false, 
                width: 60,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            {   data: null, 
                sortable: false, 
                render: function (data) {
                    if(data?.m_learner?.nis){
                        return data?.m_learner?.nis;
                    }

                    return '-';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_learner?.user?.name;
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.absen || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'absen\')" />';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.tugas || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'tugas\')" />';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.midterm || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'midterm\')" />';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.sikap || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'sikap\')" />';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.final || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'final\')" />';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<b>' + data?.d_learner_value?.kuis + '</b>';
                }  
            },
            {   data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.d_learner_value?.total || '') + '" type="text" class="input-nilai" onkeyup="inputNilai(this, \''+ data?.id +'\', \''+ data?.d_classroom?.id +'\', \''+ data?.d_classroom?.subject_id +'\', \''+ data?.d_classroom?.lecturer_id +'\', \''+ data?.m_learner?.id +'\', \'total\')" />';
                }  
            },
            {   data: null, 
                sortable: false, 
                className: 'text-center', 
                render: function (data) {
                    if (data?.d_learner_value?.total) {
                        return '<b><span id="nilai_' + data?.id + '"> ' + value_character(data?.d_learner_value?.total)?.charater + ' </span></b>';
                    }
                    
                    return '<b><span id="nilai_' + data?.id + '"> - </span></b>';
                }  
            },            
        ],
    });

    const swalWithBootstrapButtons = swal.mixin({
        confirmButtonClass: 'btn btn-success btn-rounded',
        cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
        buttonsStyling: false,
    })

    function inputNilai(
        e, 
        classroom_learner_id, 
        classroom_id,
        subject_id,
        lecturer_id,
        learner_id,
        column,
    ) {

        if(!e.value) {
            $('#nilai_' + classroom_learner_id).html('-');
            return;
        }

        if (!$.isNumeric(e.value)) {
            swalWithBootstrapButtons(
                'Gagal',
                'Hanya bisa di input angka!',
                'error'
            )

            $(e).val('');
            return;
        }

        if (column == 'total') {
            $('#nilai_' + classroom_learner_id).html(value_character(e.value)?.charater);
        }

        $.ajax({
            url  : url+'/update-nilai',
            data : {
                classroom_learner_id,
                classroom_id,
                subject_id,
                lecturer_id,
                learner_id,
                value : e.value,
                column : column,
            },
            type : "post", 
            success: function(response){
                // swalWithBootstrapButtons(
                //     'TerUpdate!',
                //     'Data telah terupdate.',
                //     'success'
                // )
                console.log('berhasil', classroom_learner_id, e.value, column);
            },
            error: function (data) {
                swalWithBootstrapButtons(
                    'Gagal',
                    'Dalam memproses update data, silahkan reload dan coba lagi. :)',
                    'error'
                )
            }
        });
    }
</script>