<table id="zero-config" class="table dataTable" style="width:100%">
    <thead>
        <tr>
            <th rowspan="2"></th>
            <th rowspan="2" class="text-center">No.</th>
            <th rowspan="2">NIS</th>
            <th rowspan="2">Nama</th>
            <th colspan="6" class="text-center">Penilaian</th>
            <th rowspan="2" class="text-center">Total</th>
            <th rowspan="2">Nilai Huruf</th>
        </tr>
        <tr>
            <th class="text-center">Absen</th>
            <th class="text-center">Tugas</th>
            <th class="text-center">Midterm</th>
            <th class="text-center">Sikap</th>
            <th class="text-center">Final</th>
            <th class="text-center">Kuis</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
