<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12  mb-3">
        <div class="widget-content widget-content-area br-6">
            <div class="p-4 ">
                <div class="form-row">
                    <div class="col-md-3">
                        <%- form.select('filter_school_year_id as tahun_ajaran', '', school_year, {}, 'filter', 'filter') %>
                    </div>
                    <div class="col-md-4">
                        <%- form.select('filter_study_program_id as prodi', '', study_program, {}, 'filter', 'filter') %>
                    </div>  
                    <div class="col-md-3">
                        <%- form.select('filter_step as tahap', '', [{ id: 1, dataValues: { name: 1 } }, { id: 2, dataValues: { name: 2 }}], {}, 'filter', 'filter') %>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>