<table id="zero-config" class="table dataTable" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">
                No.
            </th>
            <th>Tahun Ajaran</th>
            <th>Prodi</th>
            <th class="text-center">
                Tahap
            </th>
            <th>Mata Pelatihan</th>
            <th>Kode</th>
            <th>Nama Kelas</th>
            <th>Instruktur</th>
            <th>Status</th>
            <th class="text-center">
                Aksi
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
