<div class="layout-px-spacing">
    <div class="row mx-0">
        <%- include('../../../inc/breadcrumb') %>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area widget-content-basic br-6">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-sm-12 layout-spacing">
                        <h5>Detail Nilai Transkip</h5>
                        <div class="table-responsive mb-4 mt-4">
                            <%- include('table') %>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-sm-12 layout-spacing">
                        <h5>Rekapan Nilai Transkip</h5>
                        <div class="table-responsive mb-4 mt-4">
                            <%- include('table-recap') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

