<table class="table table-bordered">
    <thead>
        <tr>
            <th width="30">No.</th>
            <th>Mata Pelatihan</th>
            <th>Nilai</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Pemrograman</td>
            <td>A</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>B. Inggris</td>
            <td>AB</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Strukur Data</td>
            <td>A</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Pemrograman</td>
            <td>A</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>B. Inggris</td>
            <td>AB</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Strukur Data</td>
            <td>A</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Pemrograman</td>
            <td>A</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>B. Inggris</td>
            <td>AB</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Strukur Data</td>
            <td>A</td>
        </tr>
    </tbody>
</table>