<table class="table table-bordered">
    <!-- <thead>
        <tr>
            <th>Mata Pelatihan</th>
            <th>Nilai</th>
        </tr>
    </thead> -->
    <tbody>
        <tr>
            <td>Jumlah Mata Pelajaran</td>
            <td><b>9</b></td>
        </tr>
        <tr>
            <td>IPK</td>
            <td><b>3.83</b></td>
        </tr>
        <tr>
            <td>Predikat</td>
            <td><b>Sangat Memuaskan</b></td>
        </tr>
    </tbody>
</table>