<div class="layout-px-spacing">
    <div class="row mx-0">
        <%- include('../../../../inc/breadcrumb') %>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area widget-content-basic br-6">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-8">
                        <h5 class="mb-0">Kuis Mata Pelatihan : <b><%= session?.quiz?.subject?.name %></b></h5>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-4 text-right">
                        <h5 id="quiz-time" class="mb-0">-</h5>
                    </div>
                </div>
            </div>
            <div id="question-value" class="widget-content widget-content-area widget-content-basic br-6">
                <%- include('./question') %>
            </div>
            <div class="mt-3">
                <button id="quiz_setup" type="button" data-status="0" class="btn btn-warning next">
                    <i data-feather="chevrons-right"></i>
                    <b>Lewati</b>
                </button>
                <button id="quiz_setup" type="button" data-status="1" class="btn btn-success next">
                    <i data-feather="check"></i>
                    <b>Simpan & Lanjutkan</b>
                </button>
            </div>
        </div>

    </div>
</div>

