<script type="text/javascript">

    const path = '<%=path%>';
    const quiz_time = '<%=session?.quiz_time%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    $(document).on('click', '.next', function () {
        const status  = $(this).data('status');
        const choose  = $('input[name="answer"]:checked').val() || null;

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        $.ajax({
            url  : url+'/next',
            data : { status, choose },
            type : "post", 
            success: function(response){
                $('#question-value').html(response);
            },
            error: function (response) {

                if(response?.status === 300) {
                    $.ajax({
                        url  : url+'/done',
                        type : "post", 
                        success: function(response){
                            window.location.href = url+'/result';
                        },
                        error: function (response) {
                            swalWithBootstrapButtons(
                                'Gagal',
                                'Terjadi Kesalahan Saat Menyelesaikan Ujian',
                                'error'
                            )
                        }
                    });
                } else {
                    swalWithBootstrapButtons(
                        'Gagal',
                        response?.responseJSON?.message,
                        'error'
                    )
                }
            }
        });
    });

    $(document).ready(function(){

        if(!quiz_time){
            var now = new Date().getTime();
            var minute = moment(now).add(2, 'm').toDate();

            $.ajax({
                url: url+'/set_time',
                data : {minute:minute},
                type : "post",
                success: function(response){
                    if(response)
                        console.log('berhasil');
                }
            });
        }else var minute = moment(quiz_time);

        // var now = new Date().getTime();
        // var minute = moment(now).add(2, 'm').toDate();

        // Update the count down every 1 second
        var x = setInterval(function() {
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = minute - now;
            // Time calculations for days, hours, minutes and seconds
            //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            //   document.getElementById("response").innerHTML = hours + ":"
            //   + minutes + ":" + seconds;

            // $('#quiz-time').html(hours + ":" + minutes + ":" + seconds);
            $('#quiz-time').html(minutes + ":" + seconds);
            
            if (distance < 0) {
                $('#quiz-time').html('<span class="text-danger">Waktu Habis</span>');
                clearInterval(x);
                const status  = 0;
                const choose  = $('input[name="answer"]:checked').val() || null;

                $.ajax({
                    url  : url+'/next',
                    data : { status, choose },
                    type : "post", 
                    success: function(response){
                        $('#question-value').html(response);
                    },
                    error: function (response) {

                        if(response?.status === 300) {
                            $.ajax({
                                url  : url+'/done',
                                type : "post", 
                                success: function(response){
                                    window.location.href = url+'/result';
                                },
                                error: function (response) {
                                    swalWithBootstrapButtons(
                                        'Gagal',
                                        'Terjadi Kesalahan Saat Menyelesaikan Ujian',
                                        'error'
                                    )
                                }
                            });
                        } else {
                            swalWithBootstrapButtons(
                                'Gagal',
                                response?.responseJSON?.message,
                                'error'
                            )
                        }
                    }
                });
            }
        }, 0);

    });

</script>